.pricing {
  margin: 8vh 0;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;

  .pricing__header {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    width: 60%;

    > p,
    > h6 {
      text-align: center;
    }

    > h2 {
      color: var(--main-text-color);
    }
  }

  .pricing__cards {
    display: flex;
    align-items: center;
    color: var(--main-text-color);

    .pricing__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3vh;
      padding: 5vh 3vw;
      border-radius: 2rem;
      background-color: var(--section-background-color);
      transition: padding 1.2s;

      .pricing__card-title {
        display: flex;
        justify-content: space-between;
        gap: 1vw;
        align-items: center;
      }

      .pricing__card-cost {
        display: flex;
        justify-content: flex-start;
        gap: 1vw;
        align-items: last baseline;
      }

      .pricing__card-benefits-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2vh;
      }

      .pricing__card-benefit {
        display: flex;
        justify-content: flex-start;
        gap: 1vw;
        align-items: center;
      }

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:hover {
        padding: 5vh 4vw;
      }
    }

    .pricing__card--imperial {
      background-color: var(--main-color);
      padding: 7vh 3vw;

      &:hover {
        padding: 7vh 4vw;
      }

      .pricing__card-title > span,
      h2,
      p {
        color: var(--main-text-color-night);
      }

      .pricing__card-button--imperial {
        background-color: var(--secondary-color);
        margin-top: 5vh;

        &:hover {
          background-color: var(--hover-color-secondary);
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .pricing__cards {
      flex-direction: column;
      gap: 3vh;
      width: 100%;
    }

    .pricing__card {
      width: 100%;

      &:first-child {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }

      &:last-child {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
      }
    }
  }
}
