:root {
  --reviews-gap-size: 2vw;
  --reviews-on-screen-count: 3;
}

.testimonial {
  margin: 8vh 0;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;

  .testimonial-container {
    position: relative;
    width: 100%;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      padding: 0;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      z-index: 2;
    }

    .btn-left {
      left: 0;
      transform: translate(-50%, -50%);
      left: 5px;
    }

    .btn-right {
      right: 0;
      transform: translate(50%, -50%);
      right: 5px;
    }

    .testimonial__cards-list {
      display: flex;
      position: relative;
      overflow: hidden;
      gap: var(--reviews-gap-size);
      color: var(--main-text-color);

      .testimonial__card-list-element {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 3vh;
        border-radius: 2rem;
        background-color: var(--section-background-color);
        transition: transform 0.7s ease;
        z-index: 0;

        > p {
          flex-grow: 1;
        }

        .reviewer-info {
          display: flex;
          align-items: center;
          gap: 1vw;
          color: var(--main-text-color);

          > span {
            font-weight: var(--bold-font-weight);
            letter-spacing: normal;
          }

          > img {
            border: 0.2rem solid var(--main-color);
            border-radius: 50%;
          }
        }

        &:hover {
          transform: perspective(78vh) rotateX(12deg);
        }
      }
    }
  }

  .testimonial__header {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    width: 60%;

    > p,
    > h2,
    > h6 {
      text-align: center;
    }

    > h2 {
      color: var(--main-text-color);
    }
  }
}

.testimonial__card-list-element {
  flex: 0 0
    calc(
      (100% - (var(--reviews-on-screen-count) - 1) * var(--reviews-gap-size)) /
        var(--reviews-on-screen-count)
    );
  padding: 3vh 4vw;
}

@media (max-width: 1000px) {
  :root {
    --reviews-on-screen-count: 1;
  }

  .testimonial__card-list-element {
    padding: 3vh 8vw;
  }
}
